body {
    /* border: 1px solid red; */
    /* background-image: url('./images/seigaiha.png');   */
    /* padding: 5px; */
    overflow: hidden;
}
.component {
    padding: 8px;
    /* border: 1px dashed #102D5C; */
    border-radius: 8px;
    /* margin: 5px; */
}

#nav {
    grid-area: nav;
    border: none;
    border-right: 1px solid #E6C400;
     /* rgb(203, 210, 250);  */
    color: #102D5C;
}

#projects {
    grid-area: projects;
}

#stats {
    grid-area: stats;
}

#tasks {
    grid-area: tasks;
}

#blockers {
    grid-area: blockers;
}

.dashboard  {
    height: 95vh;
    display: grid;
    margin: 0 auto;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr 2fr 3fr;
    grid-template-areas:
        "nav stats projects blockers"
        "nav tasks tasks tasks"
        "nav tasks tasks tasks"
        "nav tasks tasks tasks";
}

/* media queries */

@media only screen and (max-width: 900px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "nav nav"
        "tasks tasks"
        "stats projects"
        "blockers blockers";
    }

    #nav {
        border: none;
        border-bottom: 1px solid #E6C400;
    }
  }

  @media only screen and (max-width: 450px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr;
      grid-template-areas:
        "nav"
        "stats"
        "tasks"
        "projects"
        "blockers";
    }
    #nav {
        border: none;
        border-bottom: 1px solid #E6C400;
    }
  }