body {
    /* border: 1px solid red; */
}
.component {
    padding: 15px;
    border: 1px dashed grey;
    /* margin: 5px; */
}

#nav {
    grid-area: nav;
    /* background-image: url('./images/memphis-mini-dark.png');   */
}

#progress {
    grid-area: progress;
}

#stats {
    grid-area: stats;
}

#tasks {
    grid-area: tasks;
}

#blockers {
    grid-area: blockers;
}

.dashboard  {
    height: 100vh;
    display: grid;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas:
        "nav stats tasks tasks"
        "nav stats tasks tasks"
        "nav blockers blockers progress"
        "nav blockers blockers progress";
    /* background-image: url('./images/seigaiha.png'); */
}

/* media queries */

@media only screen and (max-width: 700px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "nav nav"
        "tasks tasks"
        "stats progress"
        "blockers blockers";
    }
  }

  @media only screen and (max-width: 450px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr;
      grid-template-areas:
        "nav"
        "progress"
        "tasks"
        "stats"
        "blockers";
    }
  }