body {
    /* border: 1px solid red; */
    background-image: url('./images/seigaiha.png');  
    margin: 15px;
}
.component {
    padding: 5px;
    /* border: 1px dashed grey; */
    /* margin: 5px; */
}

#nav {
    grid-area: nav;
    border-right: 1px solid rgb(203, 210, 250);
    /* background-image: url('./images/memphis-mini-dark.png');   */
}

#progress {
    grid-area: progress;
}

#stats {
    grid-area: stats;
}

#tasks {
    grid-area: tasks;
}

#blockers {
    grid-area: blockers;
}

.dashboard  {
    height: 95vh;
    display: grid;
    margin: 0 auto;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr 2fr 3fr;
    grid-template-areas:
        "nav stats progress blockers"
        "nav stats progress blockers"
        "nav tasks tasks tasks"
        "nav tasks tasks tasks";
    /* background-image: url('./images/seigaiha.png'); */
}

/* media queries */

@media only screen and (max-width: 750px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr 3fr;
      grid-template-areas:
        "nav nav"
        "tasks tasks"
        "stats progress"
        "blockers blockers";
    }
  }

  @media only screen and (max-width: 450px) {
    .dashboard {
      /* background-color: lightblue; */
      grid-template-columns: 2fr;
      grid-template-areas:
        "nav"
        "stats"
        "tasks"
        "progress"
        "blockers";
    }
  }