#navLog {
    grid-area: nav;
    height: 100vh;
    border: 1px solid green;
}
#logLeftPane {
    grid-area: logs;
    height: 100vh;
}

#logRightPane {
    grid-area: preview;
    height: 100vh;
    border-left: 1px solid rgb(25, 82, 162);
}

#log {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr;
    grid-template-areas: 
        'nav logs preview'
}

#addNewLog {
    border-bottom: 1px solid #E6C400;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

#formTitle {
    grid-area: title;
}

#formTag {
    grid-area: tag;
}

#formText {
    grid-area: text;
}

#formBtn {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    align-self: center;
    grid-area: btn;    
}

#addNewLog {
    grid-area: form;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
        "title tag"
        "text btn"
}

#liTitle {
    grid-area: title;
    color: #4456B7;
}

#logList {
    grid-area: list;
    overflow: scroll;
    padding: 10px;
    height: 90%;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    /* border: 1px solid rgb(235, 218, 121); */
}

#logh3 {
    text-align: left;
    margin: 0 auto;
    color: rgb(117, 135, 237);
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #E6C400;
}

/* .fas:hover {
    cursor: pointer;
    color: #4456B7;
} */

.logItem {
    border-left: 1px solid #4456B7;
    border-radius: 12px;
    padding: 10px;
    width: 90%;
    margin-top: 8px;
    height: 90px;
}

.logItem:hover {
    background-color:  rgb(245, 248, 255);
    cursor: pointer;
}

#liDate {
    text-align: right;
    grid-area: lidate;
    font-size: 12px;
}

#liTag {
    text-align: right;
    grid-area: litag;
    font-size: 12px;
}

#deets {
    display: grid;
    height: 80%;
    grid-template-rows: 50%;
    grid-template-areas:
        'title lidate'
        '... litag'
}

.logPreview {
    border: 1px solid #4456B7;
    width: 90%;
    margin: 0 auto;
}


@media only screen and (max-width: 900px) {

}

@media only screen and (max-width: 600px) {

}