* {
    box-sizing: border-box;
}

#detail {
    grid-area: detail;
    background-image: url('./images/paint.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftBox {
    width: 375px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    color: navy;
    background-color: #F7FCFF;
    border-radius: 12px;
    box-shadow:  0 0 6px rgb(0, 0, 53);
    /* box-shadow:  0 8px 10px -6px rgb(188, 188, 188); */
  }

  #leftBox i {
    color: rgb(189, 158, 0);
    float: left;
    margin: 10px;
  }

  #brand {
    color:rgb(189, 158, 0);
  }

#signup {
    height: 45vh;
    grid-area: signup;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    padding-top: 30px;
    width: 70%;
    border-top: 1px solid rgb(230, 196, 0);
}

#loginSignup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    margin:20px;
    padding:10px;
  }

#loginRight {
    grid-area: login;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "login"
        "signup";
}

#loginForm {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

#buttonSection {
    width: auto;
    margin-left: 10px;
}
#buttonSection Button {
    padding: 15px;
}
.loginPage {
    height: 100vh;
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
        "detail login"
        "detail login";
}

/* media queries */

@media only screen and (max-width: 900px) {
    #detail {
        padding: 20px;
    }

    #loginRight {
        height: 50vh;
    }

    Button {
        padding: 15px;
    }

    #loginSignup {
        display: block;
        margin: 0 auto;
        height: auto;
    }

    #signup {
        justify-content: space-evenly;
        padding-top: 0px;
    }

    #loginForm {
        display: flex;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        padding: 15px;
    }

    .loginPage {
        height: 100vh;
      grid-template-rows: 1fr 2fr;
      grid-template-areas:
        "detail"
        "login";
    }
  }

  @media only screen and (max-width: 500px) {
      #loginForm {
          display: block;
      }

      #buttonSection Button {
          margin: 5px;
          padding: 5px;
          margin-left: 0px;
      }

      #sigbup {
          padding-top: 0px;
      }
  }