.layout {
    display: flex;
    flex-direction: row;
  }
  
  #taskSection {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid lightcoral;
  }
  
  #noteSection {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid royalblue;
  }

  /* login page  */
  .loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }

  #loginLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./seigaiha.png')
  }

  #loginRight {
    width: 50%;
  }

  #login {
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
  }

  #login form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #signup {
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    height: 60%;
    width: 70%;
    padding: 10px;
    border-top: 1px solid black;
  }

  #leftBox {
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    flex-direction: column;
    align-content: center;
    /* background-color: white;
    border-radius: 12px; */
  }

  #leftBox i {
    color: #3F51B5;
    float: left;
    margin: 10px;
  }