.layout {
    display: flex;
    flex-direction: row;
  }
  
  #taskSection {
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid lightcoral;
  }
  
  #noteSection {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid royalblue;
  }