#noteSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 60%;
    margin: 0 auto;
    /* border: 1px solid royalblue; */
}

#noteTop {
    height: 10vh;
    padding: 10px;
    margin: 5px;
}

#noteBottom {
    height: 70vh;
    padding: 10px;
    margin: 5px;
}