.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    box-shadow:  0 0 6px rgb(137, 137, 137);
}

.addBtn {
    display: flex;
    align-content: center;
    width: 30px;
    height: 30px;
    box-shadow:  0 0 6px #3C649D;
    /* rgb(137, 137, 137); */
    background-color: transparent;
    padding: 10px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.addBtn:hover {
    cursor: pointer;
}

.addBtn:active {
    background-color: #3C649D;
    color: white;
}

#iconQ, #iconM, #iconT {
    color: #3C649D;
}

li{
    text-align: left;
    list-style-type: none;
    font-size: 1.5em;
}